*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.main{
  background-color: white;
  width:100%;
  display:flex;
  position:static;
}

.resultsec{
  display: flex;
  width:20%;
  height:10vh;
  border: 2px solid black;
  margin-top: 30px;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
}

.main-container{
  width:20%;
  border: 2px solid black;

}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
}

.flex-item {
  width: 80px;
  height: 55px;
  background-color: white;
  /* border-radius: 5px; */
  font-size: 25px;
  box-shadow: 1.5px 1.5px 1.5px 1.5px hsl(28, 16%, 65%);
  border: none;
  cursor: pointer;

}

#equal{
  background-color: blue;
}


